html, body {
    width:100%;
    height:100%;
    background-color:#f7f7f7;
    color:#707070;
}
strong {
    color:#1493ff;
}
#map-container, #bar-container {
    top:80px;
    left:0;
    right:0;
    bottom:0;
    position: absolute;
    width:100%;
}
#bar-container {
    bottom:155px;
    overflow:auto;
}
#page-title {
    position:absolute;
    top:55px;
}
#order-container {
    position: absolute;
    bottom:5px;
    max-height:150px;
    height:150px;
    overflow:auto;
}
#bar-panel {
    display:none;
}
#drinks-container {
    display:flex;
    flex-wrap: wrap;
}
.drink-img img {
    height:75px;
    cursor:pointer;
}
@media only screen and (min-width: 768px) {
    .drink-img img {
        height:160px;
    }
}
.drink-price::before {
    content:"£";
}
#order-container .drink-name, #order-container .drink-price {
    display:inline-block;
    text-align:left;
}
#order-container {
    border-top:1px #a0a0a0 solid;
    left:0;
}
.reduce {
    font-size: 16px;
}
.drink-item {
    border:1px white solid;
    border-radius: 5px;
    background:white;
    margin:5px;
    width:180px;
}
.navbar {
    background:#1493FF;
    border-color:#1493ff;
}
.navbar-brand, .navbar-brand:visited, .navbar-brand:active {
    color:#ffffff;
}
#back-link {
    display:none;
}